<!-- Generated template for the BannerComponent component -->
<ion-content *ngIf="true">
	<div *ngIf="banner.type=='plan'" class="container" [ngStyle]="{'background-image': 'url(' + banner.backgroundImg + ')'}">
		<div class="plan">
			<span>{{banner.productDescription}}</span>

			<button (click)='OpenUrl();'>
	      		<span>{{banner.buttonText}}</span>
	    	</button>
		</div>
	</div>
	<div *ngIf="banner.type=='cellphone'" class="container">
		<div class="cellphone">
	    	<img class="prodImage" [src]="banner.productImg" />
			<div>
			    <span class="prodNameBanner">{{banner.productName}}</span>
			    <span class="prodDescBanner">{{banner.productDescription}}</span>
			</div>
    	</div>
	</div>
</ion-content>
